/*-- scss:defaults --*/



/*-- scss:rules --*/

.description {
	display: none;
	font-style: italic;
	font-size: 90%;
	color: #555555;
	margin-top: 2em;
}

div.float-images ul li img {
	display: inline;
	float: left;
}

.myfooter {
  display: inline-block;
	margin-top: 3em;
	font-size: 80%;
  color: #555555;
}

