/*-- scss:defaults --*/

/*-- scss:rules --*/

:root {
	--mermaid-font-size: 20pt;
}

.grey {
	color: #bbbbbb;
}

div.callout div.cell {
	font-size: 175%;
}

.quarto-title-author-name {
	font-size: 70%;
	margin-top: 0em;
}

div.cell {
	font-size: 120%;
}

.ex-slide h2::before {
	content: "🤔 ";
}

.ex h2::before {
	content: "🤔 ";
}


table {
	font-size: 80%;
}

.center-xy {
          margin-left: 50%;
          margin-right: 50%;
	  width: auto;
        }

.smol p {
	font-size: 18pt;
}

.bg-white {
	background: white;
}

.bg-translucent {
	background: rgba(255, 255, 255, 0.9);
}

.bordered {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
	border: 5px solid black;
}

ul li ul li {
	font-size: 90%;
}


.reveal aside, .reveal ol.aside-footnotes, .reveal ol.aside-footnotes li, .reveal ol.aside-footnotes li p {
	font-size: 18pt;
	color: black;
}

div#piantadosi-quote, div#piantadosi-quote p {
	font-size: 78%;
}

strong {
	font-size: 120%;
}

p, li {
	font-size: 24pt;
}

.math {
	font-size: 22pt;
}

h2 .math {
	font-size: 30pt;
}

.reveal h2 {
	font-size: 38pt;
	margin-bottom: 1em;
}

.reveal h3 {
	font-size: 30pt;
	margin-bottom: 1em;
}

h1.title {
	font-size: 50pt;
	margin-bottom: 1em;
}

div.huge p {
	font-size: 500%;
	text-align: center;
}

.reveal img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
